extends layouts/default.pug

block content
  h1 Edit record #{record.id}

  form(method="POST" action="/records/new")
    fieldset
      legend New record

      p
        label(for="category") Category
        - const category = record.category || ''
        input(
          type="text"
          name="category"
          id="category"
          placeholder="Category"
          value=category
          required
        )
        if record.errors
          span(class="error")= record.errors.category || ''

      p
        label(for="subcategory") Subcategory
        - const subcategory = record.subcategory || ''
        input(
          type="text"
          name="subcategory"
          id="subcategory"
          placeholder="Subcategory"
          value=subcategory
          required
        )
        if record.errors
          span(class="error")= record.errors.subcategory || ''

      p
        label(for="amount") Amount
        - const amount = record.amount || ''
        input(
          type="number"
          name="amount"
          id="amount"
          placeholder="Amount"
          value=amount
          required
        )
        if record.errors
          span(class="error")= record.errors.amount || ''

      p
        label(for="amount") When
        - const timestamp = record.timestamp || ''
        - const currentMonth = new Date().getMonth() + 1
        input(
          type="datetime-local"
          name="timestamp"
          id="timestamp"
          placeholder="when"
          value=timestamp
          min=`${new Date().getFullYear()}-${currentMonth}-01`
          required
        )
        if record.errors
          span(class="error")= record.errors.timestamp || ''

      button(type="submit") Save new record

      a(href="/records") Back


