doctype html
html(lang="en")
head
  title #{title}
  style
    include style.css
  block styles
  script(
    src="https://unpkg.com/htmx.org@2.0.1"
    integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
    crossorigin="anonymous"
    fetchpriority="high"
  )

body
  header#header

  main
    block content

  footer This is the footer
