extends layouts/default.pug

block content
  h1 Last records

  button(
    type="button"
    hx-post="/get-greet"
    hx-target="#greet"
    hx-swap="outerHTML"
    hx-trigger="click, keyup[ctrlKey && key === 'l'] from:body"
    hx-vals='{"name": "World"}'
  ) Get greet

  #greet

  #records

  form(method="GET" action="/records")
    label(for="search") Look up for a record by category
    - const q = query || ''
    input(type="text" name="q" id="search" value=q )
    button(
      hx-post="/records"
      hx-target="#records"
      hx-include="#search"
    ) Search
    //button(type="submit") Search

  table
    thead
      tr
        th Category
        th Subcategory
        th Amount
        th Time
        th(colspan="1")
    tbody
      each r in records
        tr
          td= `${ r.category }`
          td= `${ r.subcategory }`
          td= `${ r.amount }`
          td= `${ r.timestamp }`
          td
            a(href=`/records/${r.id}`) Edit

  a(href="/records/new") New record

  script.
    document.getElementById('search').focus()
    console.log("Hello from records.pug!")
